/*
Para fazer o alinhamento usamos o margin. O margin dá uma distância das bordas da pagina.
Se só usar margin ele distância tudo igualmente, por isso podemos usar ele bottom, top, left ou right.
Porém pra centralizar a imagem é melhor usar o auto, assim faz o alinhamento automatico no centro independentemente do tamanho da página
Se eu quiser ele alinhado automaticamente a direita uso o margin-rigth:auto; se a esquerda uso o margin-left:auto; etc.

*/

.bloco{
    background-color: cyan;
    width: 150px;
    height: 150px;
    /*margin-left: 300px; - dependendo do tamanho da janela parece que o elemento está centralizado, mas não está, por isso é melhor usar o margin:auto;*/
    /*margin:auto;*/
    margin-left: auto;
}

/*
Isso NÃO FUNCIONA pra imagens, eu preciso transformar elas em block pra conseguir fazer isso;

inline-block TAMBÉM NÃO FUNCIONA;
pra funcionar vc precisa deixar essa imagem DENTRO de uma DIV ou um elemento de bloco e ai centraliza ele com text-aling=center;
*/
.imagem01{
    display: block;
    margin:auto;
}

.imagem02{
    display:inline-block;
}
.bloco01{
    text-align: center;
}